ipykernel
langchain
python-dotenv
langchain_community
pypdf
bs4 
arxiv
pymupdf
langchain-text-splitters
langchain_groq
fastapi
langserve
sse_starlette
langchain_huggingface
sentence_transformers
streamlit
faiss-cpu
langchain_core
chroma
langchain_chroma